{% extends "JanusConnectionsBundle::layout.html.twig" %}

{% block title "Symfony - Connections" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'connection.edit.headline'|trans({'%id%': id}, 'JanusConnectionsBundle') }}</h1>

    <form action="{{ url('put_connections', {'id': id}) }}" method="POST" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="put" />

        {{ form_widget(form) }}

        <input type="submit" value="{% trans from 'JanusConnectionsBundle' %}connection.edit.submit{% endtrans %}">
    </form>
{% endblock %}