{% extends "JanusConnectionsBundle::layout.html.twig" %}

{% block title "Symfony - Connections" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'connection.new.headline'|trans({}, 'JanusConnectionsBundle') }}</h1>

    {%  if (form is defined) %}
    <form action="{{ url('post_connections') }}" method="POST" {{ form_enctype(form) }}>

        {{ form_widget(form) }}

        <input type="submit" value="{% trans from 'JanusConnectionsBundle' %}connection.new.submit{% endtrans %}">
    </form>
    {% endif %}

{% endblock %}

{% set code = code(_self) %}