# Symfony
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/web/css/*
/web/js/*

# Other
/www/resources/images/.DS_Store
.idea
/vendor
/components
/build
/dummy
/doctrine/proxy/__CG
dictionaries/metadatafields.definition.json.org
.DS_Store