/.idea
.DS_Store
/app/bootstrap.php.cache
/app/cache
/app/check.php
/app/logs
/app/SymfonyRequirements.php
/bin/doctrine*
/build
/components
/composer.phar
/vendor/
/web/css/*
/web/bundles/*
/web/js/*
!/bin/bundlesToRepos.sh
!/bin/migrate.sh
!/bin/prepareCache.sh
/bin/*