imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: %kernel.debug%
    form:            ~
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_proxies: ~
    session:         ~
    fragments:       ~

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8

        types:
            # A collection of custom types
            # Example
            janusBoolean:
                class:                Janus\ServiceRegistry\Doctrine\Type\JanusBooleanType
                commented:            true
            janusIp:
                class:                Janus\ServiceRegistry\Doctrine\Type\JanusIpType
                commented:            true
            janusDateTime:
                class:                Janus\ServiceRegistry\Doctrine\Type\JanusDateTimeType
                commented:            true
            janusUserType:
                class:                Janus\ServiceRegistry\Doctrine\Type\JanusUserTypeType
                commented:            true

        mapping_types:
            enum: string

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        auto_mapping: true
        # Explicitely map Janus entities
        mappings:
            janus:
                type: annotation
                prefix: Janus\ServiceRegistry\Entity
                dir: "%kernel.root_dir%/../src/Janus/ServiceRegistry/Entity"
                is_bundle: false

doctrine_migrations:
  name: Janus Migrations
  dir_name: %kernel.root_dir%/../src/Janus/ServiceRegistry/DoctrineMigrations
  namespace: Janus\ServiceRegistry\DoctrineMigrations
  table_name: doctrine_migration_versions

# Note: these are cache providers provided by, but not for, Doctrine.
doctrine_cache:
  providers:
    memcache_cache:
      namespace: janus
      memcache:
        servers:
          localhost:
            port: 11211

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }

sensio_framework_extra:
    view: { annotations: false }

fos_rest:
    disable_csrf_role: ROLE_API
    param_fetcher_listener: true
    view:
        view_response_listener: 'force'
        formats:
            json: true
    format_listener:
        rules:
            - { path: ^/, priorities: [ json ], fallback_format: ~, prefer_extension: true }
    exception:
        codes:
            'Symfony\Component\Routing\Exception\ResourceNotFoundException': 404
            'Doctrine\ORM\OptimisticLockException': HTTP_CONFLICT
        messages:
            'Symfony\Component\Routing\Exception\ResourceNotFoundException': true
    allowed_methods_listener: true
    access_denied_listener:
        json: true
    body_listener: true
    body_converter:
        enabled: true


nelmio_api_doc: ~

parameters:
    jms_serializer.camel_case_naming_strategy.class: JMS\Serializer\Naming\IdenticalPropertyNamingStrategy
