imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: fos_rest.yml }

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: %kernel.debug%
    form:            ~
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_proxies: ~
    session:         ~
    fragments:       ~

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    exception_controller: 'FOS\RestBundle\Controller\ExceptionController::showAction'

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    bundles:
      - JanusServiceRegistryBundle
    #java: /usr/bin/java
    filters:
        cssrewrite: ~

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8

        types:
            # A collection of custom types
            # Example
            janusBoolean:
                class:                Janus\ServiceRegistry\Doctrine\Type\JanusBooleanType
                commented:            true
            janusIp:
                class:                Janus\ServiceRegistry\Doctrine\Type\JanusIpType
                commented:            true
            janusDateTime:
                class:                Janus\ServiceRegistry\Doctrine\Type\JanusDateTimeType
                commented:            true
            janusUserType:
                class:                Janus\ServiceRegistry\Doctrine\Type\JanusUserTypeType
                commented:            true

        mapping_types:
            enum: string

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        auto_mapping: true
        # Explicitely map Janus entities
        mappings:
            janus:
                type: annotation
                prefix: Janus\ServiceRegistry\Entity
                dir: "%kernel.root_dir%/../src/Janus/ServiceRegistry/Entity"
                is_bundle: false

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }

sensio_framework_extra:
    view: { annotations: false }

nelmio_api_doc: ~
