security:
    encoders:
        Janus\ServiceRegistry\Entity\User: plaintext # should be hashing like sha512

    providers:
        janus:
            id: user_service

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        api:
            pattern:   ^/api
            ssp: true
            http_basic:
                realm: "JANUS REST API v2"
