.arp_tab fieldset {
    border: none;
}


#arpAdmin th {
    min-width: 5em;
}

#arpAdmin .arp_action,
#arpAdmin .arp_action a,
#arpAdmin .arp_action :active {
    text-align: center;
    border: 0;
}

#arpAdmin td.arp_name {
    min-width: 10em;
    padding-right: 1em;
}

#arpEdit fieldset {
    border: 0;
    padding-bottom: 1em;
}

#arpEdit label {
    font-weight: bold;
    margin-left: 1em;
    float: left;
    clear: left;
    width: 10em;
}

#arpEdit ul {
    padding-left: 10em;
}

#arpEdit form {
    border: 1px solid #CCCCCC;
}

div.arpedit {
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    /*height:384px;*/
    width:900px;
    background:#FFFFFF;
    border:2px solid #cecece;
    z-index:2;
    padding:12px;
    font-size:13px;
}

div.arpbgpopup {
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000000;
    border:1px solid #cecece;
    z-index:1;
}

/* search and pagination in ARP screen */
#arpAdmin ul.pagination {
    margin-top: 10px;
    text-align: center;
}

#arpAdmin ul.pagination li {
    display: inline;
    list-style: none;
    margin: 5px;
    font-style: italic;
}

#arpAdmin ul.pagination li a {
    font-style: normal;
    font-weight: bold;
}
