/* white/blacklist table in editentities */
table.entity_acl  {
    width: auto;
    max-width: 100%;
    border-collapse: collapse;
}
table.entity_acl td {
    padding: 0.05em 1em 0.05em 1em;
    margin: 0;
    border: solid thin gray;
    white-space: nowrap;
}
table.entity_acl th {
    padding: 0.05em 1.5em 0.05em 0.5em;
    margin: 0;
    border: solid thin gray;
    background-color: #A0A0A0;
}
table.entity_acl td.acl_check,
table.entity_acl th.acl_check {
    padding-top: 0.3em
}

table.entity_acl td.acl_entity {
    max-width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.entity_acl td.acl_desc {
    max-width: 40em;
    overflow: hidden;
    text-overflow: ellipsis;
}

input.remote_check_b {
    vertical-align: bottom;
}
td.acl_entity a {
    color: inherit;
}
