#changes {
    width: 100%;
    overflow: auto;
}

#changes table th, td {
    padding: 3px;
    min-width: 50px;
}

#changes table td.center {
    text-align: center;
    vertical-align: middle;
}

div.center {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

.janus_button {
    margin: 15px;
    font-size: 20px;
    box-sizing: border-box;
    width: 150px;
    float: right;
}

#wrap {
    max-width: 100%;
}
