table.revision {
    width: 50%;
    font-size: 12px;
    border-spacing: 1px;
    border-bottom: 1px solid #c2c2c2;
    line-height: 18px;
    margin-bottom: 15px;
    table-layout: fixed;
}

table.revision tr:nth-child(odd) {
    background-color: #F3F3F3;
}

.revisionLink {
    width: 200px;
}

.revisionAttributes {
    width: 130px;
}

.hidden {
    display: none;
}